In [1]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
import pymysql
from sqlalchemy import create_engine

In [2]:
#definimos funciones para normalizar todos los datos entrantes y 
#asi coincidan con el formato de los datos ya existentes


def ordenar_columnas(df):
    df = df[["precio","producto_id","sucursal_id"]]
    return(df)

def normalizar_id_sucursal(df):
    df["sucursal_id"] = df["sucursal_id"].str.split(" ",expand=True)[0]
    return(df)

def normalizar_id_producto(df):
    df['producto_id'] = df["producto_id"].astype(str).str.rstrip(".0")
    df['producto_id'] = df["producto_id"].str.zfill(13)
    charlen= len(df['producto_id'])
    string = (df['producto_id'])
    if (len(df['producto_id'])<13):
        df['producto_id']= "0"* (13-charlen)+df['producto_id']
    return(df)

def formatofecha(dataset):
    stringg = dataset
    return(stringg[15:19] + "-" + stringg[19:21] + "-" + stringg[21:23])

In [3]:
#Se importan las direcciones de el o los datasets en el formato correcto y se agregan a una lista para que puedan ser
#cargadas
lista_dataset= os.listdir(r"datasets en formato correcto")
lista_dataset

['precios_semana_20200413.csv',
 'precios_semana_20200419.csv',
 'precios_semana_20200426.csv',
 'precios_semana_20200503.csv',
 'precios_semana_20200518.csv']

In [4]:
#Se crea un Dataframe temporal con el mismo formato existente dentro de la DB, de este modo se mantiene el formato 
#previniendo de inconsistencias

dftt = pd.DataFrame({'precio': [],
                   'producto_id': [],
                   'sucursal_id': [],
                   "fecha": [],},   
)

dftt

Empty DataFrame
Columns: [precio, producto_id, sucursal_id, fecha]
Index: []

In [477]:
#Iteramos sobre la lista de datasets para ir concatenandolos uno por uno al dataframe temporal, utilizando una 
#funcion que ordena  las columnas en el formato establecido
#ademas se le a√±ade un registro de fecha a cada dataset

for dataset in lista_dataset:
    df = pd.DataFrame({'precio': [],
                   'producto_id': [],
                   'sucursal_id': [],
                   "fecha": [],},   
)
    df = pd.read_csv("datasets en formato correcto"+ "/"+dataset)
    df = ordenar_columnas(df)
    df["fecha"] = formatofecha(dataset)
    dftt= dftt.append(df,ignore_index=True)

C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:11: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets en formato correcto"+ "/"+dataset)
C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dftt= dftt.append(df,ignore_index=True)
C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dftt= dftt.append(df,ignore_index=True)
C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dftt= dftt.append(df,ignore_index=True)
C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dftt= dftt.append(df,ignore_index=True)
C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:11: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets en formato correcto"+ "/"+dataset)
C:\Users\elpep\AppData\Local\Temp\ipykernel_5140\59196712.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dftt= dftt.append(df,ignore_index=True)

In [5]:
dftt

Empty DataFrame
Columns: [precio, producto_id, sucursal_id, fecha]
Index: []

In [479]:
# una vez se obtiene el DataFrame Con todos los datos ingestados se aplican sobre el varias funciones para normalizar
# la informacion en todas las columnas

dftt = normalizar_id_sucursal(dftt)
dftt = normalizar_id_producto(dftt)

In [480]:
#se dropean resultados  nulos
dftt = dftt.dropna()

In [484]:
# ya con el dataframe listo procedemos a conectar y cargar los datos a la DB con SQL AlCHEMY

conexionstr = "mysql+pymysql://root:1234@localhost:3306/pi_01"

conexion = create_engine(conexionstr)

dbconexion = conexion.connect()

dftt.to_sql(name="precio_semana",con=conexion,if_exists="append",index=False)

2215001